*{
margin:0;
padding: 0;
box-sizing: border-box;
padding: 0;
text-decoration: none;
font-family: cursive;
}
body{
  background-color: rgb(238, 85, 85);
width: 100%;
height: 100vh;
position: relative;
}
.hero{
width: 100%;
padding: 5px;
position: fixed;
text-align: center;
overflow: hidden;
position: relative;
display: flex;
justify-content: space-between;

align-items: center;

}
.nav-brand{
   
    margin-left: 20px;
   letter-spacing: 2px;
  font-size: 30px;
  
}
.nav-brand a{
   color: rgb(24, 2, 6);
    font-size: 25px;
    font-weight: bold;
  
}
.navbar a{
    text-decoration: none;
    margin-right: 30px;
    color: rgb(252, 252, 252);
    line-height: 10px;
}
.navbar a:hover{ 
    color: rgb(255, 196, 2);
}

.line{
  width:50px;
  height: 3px;
  background-color: blue;
  border-radius: 50px;
  animation: line 10s ease-in-out infinite  ;
  position: absolute;
  bottom: 0;
}
@keyframes line {
  0%{
left: 0;
transform: translateX(-100%);
  }
  100%{
    left: 100%;
    transform: translateX(0%);
  };
}
.main{
  width: 100%;
  height: 100vh;
  color: aliceblue;
  position: relative;
}
.image{
  background-image: url(ezgif.com-gif-maker.jpg);
  width: 100%;
  height: 100vh;
position: relative;
  background-position: cover;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  display: flex;

}
.content {

  width: 350px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%,-50%);
  justify-content: center;
 color: rgb(26, 131, 223);
}
.hireme{
  padding: 10px;
  width: 120px;
  border-radius: 10px;
  color: white;
  background: crimson;
  margin-top: 10px;
  letter-spacing: 2px;
}
.flip_container{
  background-color: chocolate;
  width: 100%;
  height: 100vh;
  display: flex;
  gap: 10px;
 
}
.card{
  width: 350px;
  height: 450px;
  background-color: rgb(31, 205, 98);
overflow: hidden;
 margin-top: 10px;
 
}
.heading{
padding: 5px;
margin-top: 5px;
}
.para{
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  }
  .showmore{
    background-color: crimson;
    padding: 5px;
    color: aliceblue;
    border:1px solid blue;
    border-radius: 5px;
  
    align-items: center;
  }
  .cardsectionp{
text-align: center;
color: blue;
padding: 5px;
  }
  .cardp{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
  }